.contact-form {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

form {
	width: 60%;
	padding: 20px;
	background-color: var(--nav-bg);
}

.formContainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form-group {
	/* border: 1px solid red; */
	width: 100%;
	margin-bottom: 10px;
	display: flex;
}

input,
textarea {
	border: 1px solid;
	outline: none;
	border-radius: 5px;
	width: 100%;
	padding: 10px;
}

@media (max-width: 767px) {
	form {
		width: 100%;
	}
}
